<form method="post">
  <div class="post-schedule-background">
    <div class="center">
      <h4>
        <div class="center-item" style="position: absolute;top: 24vh;left: 45vw;">
          <p>
            <label>Departure city:</label>
            <input name="select_departure_city" placeholder="Departure city">
          </p>
          <p>
            <label>First time:</label>
            <input name="select_departure_time" type="datetime-local">
          </p>
          <p>
            <label>Second time:</label>
            <input name="select_arrival_time" type="datetime-local">
          </p>
          <p>
            <input class="btn btn-warning" type="submit" value="Submit">
          </p>
        </div>
      </h4>
    </div>
  </div>
</form>