<html lang="ru">
<head>
  <meta charset="utf8">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap&subset=cyrillic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat|Playfair+Display+SC&display=swap" rel="stylesheet">
  <link href="/css/layout.css" rel="stylesheet">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>Train station</title>
</head>
<body>
<h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:10vh; background-color: antiquewhite; margin: 0">
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class = "nav-link" style="font-family: Roboto, cursive; color: #16181b" href="/schedules">Trains CRUD</a>
        </li>
        <li class="nav_item">
          <a class = "nav-link" style="font-family: Roboto, cursive; color: #16181b" href="/all_schedules">Trains filter</a>
        </li>
      </ul>
    </div>
  </nav>
</h1>
<%= yield %>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js" ></script>
</body>
</html>