h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 25pt;
  color: black;
}

h3 {
  font-family: "Playfair Display SC", serif;
  font-size: 18pt;
  color: black;
  text-align: match-parent;
}

section {
  height: calc(100% - 75px);
  color: #fff;
  font-family: "Rubik", serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
}

h1 {
  font-family: "Caveat", cursive;
  font-size: 25px;
}

/* Pattern styles */
.myCont {
  position: relative;
}

#navbar {
  text-align: center;
}

.center-meme {
  position: absolute;
  background: #ffffff url("/images/meme.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 90vw;
  left: 5vw;
  height: 90vh;
}

.schedule-background {
  height: 100%;
  background-size: cover;
}

body,
html {
  height: 100%;
}
