<form method="post">
  <div class="post-schedule-background">
    <div class="center">
      <h4>
        <div class="center-item" style="position: absolute;top: 24vh;left: 45vw;">
          <p>
            <label>Number:</label>
            <select name="select_number" class="custom-select custom-select-sm" id="select"
                    style="width:auto">
              <% @number.each do |number| %>
                <% @number = number %>
                <%= render :util_number %>
              <% end  %>
            </select>
          </p>
          <p>
            <label>Departure city:</label>
            <input name="select_departure_city" placeholder="Departure city">
          </p>
          <p>
            <label>Arrival city:</label>
            <input name="select_arrival_city" placeholder="Arrival city">
          </p>
          <p>
            <label>Departure time:</label>
            <input name="select_departure_time" type="datetime-local">
          </p>
          <p>
            <label>Arrival time:</label>
            <input name="select_arrival_time" type="datetime-local">
          </p>
          <p>
            <label>Price:</label>
            <input name="select_price" placeholder="Price">
          </p>
          <p>
            <input class="btn btn-warning" type="submit" value="Change">
          </p>
        </div>
      </h4>
    </div>
  </div>
</form>